version: 2
updates:
  - package-ecosystem: docker
    directory: "/.docker"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10

  - package-ecosystem: github-actions
    directory: "/.github/workflows"
    schedule:
      interval: "daily"

  - package-ecosystem: bun
    directory: "/src"
    schedule:
      interval: "daily"
    groups:
      dev-dependencies:
        dependency-type: development

      prod-non-major:
        dependency-type: production
        update-types:
          - "minor"
          - "patch"
