applicationName: ladesa-ro-api

deployment:
  enabled: true
  replicas: 1

  reloadOnChange: false
  annotations:
    secrets.infisical.com/auto-reload: "true"

  image:
    repository: ghcr.io/ladesa-ro/management-service/management-service
    tag: development
    pullPolicy: Always

  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  resources:
    requests:
      cpu: "50m"
      memory: "250Mi"
    limits:
      memory: "2Gi"
      cpu: "2"

  containerSecurityContext:
    runAsNonRoot: false
    readOnlyRootFilesystem: false

  ports:
    - containerPort: 3000
      name: http-c

  envFrom:
    api-config:
      type: secret
      name: ladesa-ro-api-config

  volumes:
    uploaded-data:
      persistentVolumeClaim:
        claimName: ladesa-ro-api-uploaded-pvc

  volumeMounts:
    uploaded-data:
      mountPath: /var/lib/ladesa-ro-api/uploaded

  readinessProbe:
    enabled: true
    httpGet:
      path: /health/
      port: http-c
    initialDelaySeconds: 5
    periodSeconds: 10

  livenessProbe:
    enabled: true
    httpGet:
      path: /health/
      port: http-c
    initialDelaySeconds: 10
    periodSeconds: 15

  startupProbe:
    enabled: true
    httpGet:
      path: /health/
      port: http-c
    failureThreshold: 30
    periodSeconds: 10

service:
  enabled: true
  type: NodePort
  ports:
    - name: http-s
      port: 3000 # porta do service
      targetPort: http-c # porta alvo

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: ladesa-ro-issuer-production
  hosts:
    - host: dev.ladesa.com.br
      paths:
        - path: /api/v1
          pathType: ImplementationSpecific
          servicePort: http-s
  tls:
    - secretName: ladesa-ro-development-management-service-tls
      hosts:
        - dev.ladesa.com.br
